<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" role="navigation" [fixedInViewport]="true">
        <mat-toolbar>
            <mat-toolbar-row class="sidenavToolbar">
                <h2 class="toolbar-title">Grace : Today</h2>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list>
            <h2 matSubheader>Menu</h2>
            <mat-list-item (click)="sidenav.toggle()" routerLink="/today">
                <mat-icon>today</mat-icon> &nbsp; Today's Verse
            </mat-list-item>
            <mat-list-item (click)="sidenav.toggle()" routerLink="/readings">
                <mat-icon>local_library</mat-icon>
                Liturgy Readings
            </mat-list-item>

            <mat-divider></mat-divider>

            <h2 matSubheader>Misc</h2>

            <mat-list-item (click)="sidenav.toggle()" routerLink="/about">
                <mat-icon>list</mat-icon>
                Changelogs
            </mat-list-item>
            <mat-list-item (click)="sidenav.toggle()" routerLink="/thanks">
                <mat-icon>done_all</mat-icon>
                Special Thanks
            </mat-list-item>

            <mat-divider></mat-divider>

            <h2 matSubheader>v3.1.0</h2>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content role="main">
        <app-navbar (toggleSidenav)="sidenav.toggle()"></app-navbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>