<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" role="navigation" [fixedInViewport]="true">
        <mat-toolbar>
            <mat-toolbar-row class="sidenavToolbar">
                <h2 class="toolbar-title">Grace : Today</h2>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list>
            <div *ngIf="loggedAccount">
                <mat-list-item (click)="sidenav.toggle()" routerLink="/dashboard">
                    <mat-icon>dashboard</mat-icon> &nbsp; My Dashboard
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>

            <h2 matSubheader>Menu</h2>
            <mat-list-item (click)="sidenav.toggle()" routerLink="/">
                <mat-icon>today</mat-icon> &nbsp; Today's Verse
            </mat-list-item>
            <mat-list-item (click)="sidenav.toggle()" routerLink="/readings">
                <mat-icon>local_library</mat-icon>
                &nbsp; Liturgy Readings
            </mat-list-item>

            <mat-divider></mat-divider>

            <h2 matSubheader>About</h2>

            <mat-list-item (click)="sidenav.toggle()" routerLink="/about">
                <mat-icon>list</mat-icon>
                &nbsp; Changelogs
            </mat-list-item>
            <mat-list-item (click)="sidenav.toggle()" routerLink="/thanks">
                <mat-icon>done_all</mat-icon>
                &nbsp; Special Thanks
            </mat-list-item>

            <mat-divider></mat-divider>

            <div *ngIf="loggedAccount" class="exit-app">
                <mat-list-item (click)="sidenav.toggle();logout()">
                    <mat-icon>exit_to_app</mat-icon> &nbsp; Sign Out
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>

            <div *ngIf="!loggedAccount" class="login-app">
                <mat-list-item (click)="sidenav.toggle()" routerLink="/login">
                    <mat-icon>exit_to_app</mat-icon> &nbsp; Sign In
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>


        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content role="main">
        <app-navbar (toggleSidenav)="sidenav.toggle()"></app-navbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>