mat-sidenav {
    width: 200px;
    font-family: 'Roboto', sans-serif !important;
}

mat-sidenav-content {
    padding-top: 150px !important;
}

toolbar-title {
    margin: 0 16px 0 16px;
    font-family: 'Roboto', sans-serif !important;
}

mat-list-item {
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
}

.sidenavToolbar {
    background: #fcaa67 !important;
    color: #000 !important;
}

mat-card-subtitle {
    text-align: center;
}

.exit-app mat-list-item {
    background: #a9504a;
    color: #fff !important;
}

.login-app mat-list-item {
    background: #9db17c;
    color: #fff !important;
}

.toolbar-title {
    font-family: 'Satisfy', cursive;
    font-size: 1.3em;
}