<mat-card class="aboutCard">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>v3.0.0</mat-card-title>
        <mat-card-subtitle>Released 08/09/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span class="mat-title">Changelogs:</span>
        <ul>
            <li>Overall Design and Code Refactor</li>
            <li>Added Ourmanna API for Bible service</li>
            <li>Changed App Title from Grace Today to Grace : Today</li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-subtitle>Coded by justinshobby (github.com/justins-hobby)</mat-card-subtitle>
    </mat-card-footer>
</mat-card>



<mat-card class="aboutCard">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>v2.5.0</mat-card-title>
        <mat-card-subtitle>Released 08/08/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span class="mat-title">Changelogs:</span>
        <ul>
            <li>Added files for Google Analytics</li>
            <li>(v2.4.0) Renamed from Daily Catholic Gospel to Grace Today</li>
            <li>(v2.3.0) Changed colors of base app</li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-subtitle>Coded by justinshobby (github.com/justins-hobby)</mat-card-subtitle>
    </mat-card-footer>
</mat-card>

<mat-card class="aboutCard">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>v2.2.0</mat-card-title>
        <mat-card-subtitle>Released 08/08/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span class="mat-title">Changelogs:</span>
        <ul>
            <li>Added Manifest and favicon Icons</li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-subtitle>Coded by justinshobby (github.com/justins-hobby)</mat-card-subtitle>
    </mat-card-footer>
</mat-card>


<mat-card class="aboutCard">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>v2.1.0</mat-card-title>
        <mat-card-subtitle>Released 08/08/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span class="mat-title">Changelogs:</span>
        <ul>
            <li>PWA mode (Progressive Web App) activated. You may now install these to your phones.</li>
            <li>Gospel App now fetches data based on current date</li>
            <li>Updated manifest files (icons on next release)</li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-subtitle>Coded by justinshobby (github.com/justins-hobby)</mat-card-subtitle>
    </mat-card-footer>
</mat-card>


<mat-card class="aboutCard">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>v1.0.0 Alpha</mat-card-title>
        <mat-card-subtitle>Released 08/08/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span class="mat-title">Changelogs:</span>
        <ul>
            <li>App loads default gospel of the day on launch</li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-subtitle>Coded by justinshobby (github.com/justins-hobby)</mat-card-subtitle>
    </mat-card-footer>
</mat-card>