.header-image {
    background-image: url('https://png.pngtree.com/svg/20170327/give_the_thumbs_up_314013.png');
    background-size: cover;
}

.aboutCard {
    width: 80%;
    margin: 0 auto !important;
    margin-bottom: 15px !important;
}

mat-card-footer {
    text-align: center;
    color: #eee !important;
}