.registration-card,
.verification-card,
mat-progress-bar {
    width: 90% !important;
    margin: 0 auto;
}

mat-form-field {
    width: 100% !important;
}

.btn-block {
    width: 100% !important;
    margin-bottom: 10px;
}