<mat-progress-bar *ngIf="!liturgyData" mode="query">
</mat-progress-bar>

<div *ngIf="liturgyData" class="liturgyData">
    <div class="readingListHeader">
        <h1 class="mat-headline"> {{ liturgyData.date_displayed }}</h1>
        <h4 class="mat-subheading-1">{{ liturgyData.liturgic_title }}</h4>
    </div>

    <div class="readingListContent" *ngIf="liturgyReadings">
        <ng-container *ngFor="let book of liturgyReadings">
            <app-reading-card [readingType]="book.book_type" [readingTitle]="book.title" [readingSubtitle]="book.reading_code" [readingBody]="returnFormattedData(book.text)">
            </app-reading-card>
        </ng-container>
    </div>


</div>