.small-box {
    font-family: 'Roboto', sans-serif;
    width: 80% !important;
    margin: 0 auto;
    margin-bottom: 25px;
}

.dateHeader,
.dateSubheader {
    text-align: center;
}

.dateSubheader {
    font-style: italic;
}

.journalEntries,
.verseEntry,
.celebrationEntries {
    font-size: 0.9em;
}

.verseEntry {
    font-family: 'Noto Serif', serif !important;
    text-align: justify !important;
}

mat-card-footer {
    text-align: right !important;
    font-size: 0.8em;
    margin-right: 25px;
}

.verse-container {
    background: #e7decd;
    width: 80% !important;
    margin-bottom: 20px !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.journal-container {
    background: #efefd0;
    min-width: 80% !important;
    margin-bottom: 20px !important;
}

.celebrations-container {
    background: #d3d4d9;
    width: 80% !important;
    margin-bottom: 200px !important;
}

.profile-container,
.menu-container {
    background: #fffcf7;
    width: 90% !important;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-container h3,
.profile-container h5 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.profile-container .btn-profile {
    width: 99%;
    height: 50px;
    line-height: 20px;
    margin-right: 1px;
    margin-bottom: 5px;
    background: #546a76;
    color: #fff;
}

.menu-container .btn-menu {
    width: 100%;
    height: 50px;
    line-height: 20px;
    margin-right: 1px;
    margin-bottom: 5px;
    background: #98c1d9;
    color: #111;
}