<div gdAreas="header header | content content | footer footer" gdGap="16px" gdRows="auto auto auto">
    <div gdArea="header">
        <div class="profile-container">
            <div fxLayout fxLayoutAlign="center center">
                <img src="https://i.pinimg.com/474x/cc/76/26/cc7626092e4c9ee51580cd590a1cc2f2.jpg">
            </div>
            <h3>Juan De La Cruz</h3>
            <h5>Beginner</h5>
            <br/>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxFill>
                <div fxFlex>
                    <button mat-button class="btn-profile">Edit Profile Info</button>
                </div>
                <div fxFlex>
                    <button mat-button class="btn-profile">Create Journal Entry</button>
                </div>
            </div>
        </div>
    </div>

    <div gdArea="content">
        <div class="menu-container">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxFill>
                <div fxFlex="33%">
                    <button mat-flat-button class="btn-menu">My Journal Entries</button>
                </div>
                <div fxFlex="33%">
                    <button mat-flat-button class="btn-menu">My Calendar</button>
                </div>
                <div fxFlex="33%">
                    <button mat-flat-button class="btn-menu">My Achievements</button>
                </div>
            </div>

        </div>
    </div>
</div>