<mat-card class="aboutCard">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Special Thanks!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>Evangelizo Readings Endpoint (evangelizo.ws)</li>
            <li>Heroku</li>
            <li>Picsum photos API</li>
        </ul>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-subtitle>Coded by justinshobby (github.com/justins-hobby)</mat-card-subtitle>
    </mat-card-footer>
</mat-card>